* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "IBMPlexMono-Regular";
  background-color: #E8F5EB;
}
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  z-index: 1000;
  color: black;
}

.header_list {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}
.headerBtn {
  color: black;
  text-decoration: none;
}

.headerBtn:hover {
  color: #E8F5EB;
  cursor: pointer;
}

.list_item {
  list-style: none;
}

.hobby_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  aspect-ratio: 3/5
}
.hobby_item {
  font-size: 2rem;
}

img {
  max-width: 100%;
  cursor: pointer;
}
.videoGame{
  display: flex;
  width: 100%;
  aspect-ratio: 3/1;
  align-items: center;
  justify-content: space-around;
}
.game{
  width: 40%;
  aspect-ratio: 16/9;
}

.link-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.youtube {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
}
.youtube iframe {
  width: 80%;
  aspect-ratio: 16/9;
}
.button {
  display: inline-block;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
  background-color: white;
  color: #E8F5EB;
}
.button:hover {
  display: inline-block;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
  background-color: black;
  color: #E8F5EB;
}

#topBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  padding: 10px;
  font-size: 16px;
  background-color: #E8F5EB;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#topBtn:hover {
  background-color: #E8F5EB;
}

footer {
  display: flex;
  height: 10vh;
  background-color: white;
  align-items: center;
  justify-content: space-around;
}
