* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #E8F5EB;
}
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  z-index: 1000;
  color: black;
}

.header_list {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}
.headerBtn {
  color: black;
  text-decoration: none;
}

.headerBtn:hover {
  color: #E8F5EB;
  cursor: pointer;
}
.clock{
  position: fixed;
  border: none;
  z-index: -1;
  padding-top: 10px;
  padding-left: 10px;
}

.list_item {
  list-style: none;
}

.hobby_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  aspect-ratio: 3/5
}
.hobby_item {
  font-size: 2rem;
}

img {
  max-width: 100%;
  cursor: pointer;
}
svg {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.gameObject{
    display: flex;
    width: 100%;
    aspect-ratio: 3/1;
    align-items: center;
    justify-content: center;
}
#myVideo{
  width: 80%;
  aspect-ratio: 16/9;
}
#leftButton{
  padding-right: 10px;
}
#rightButton{
  padding-left: 10px;
}

#leftButton:hover, #rightButton:hover {
  animation: wiggle 0.5s;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.link-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.youtube {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
}
.youtube iframe {
  width: 80%;
  aspect-ratio: 16/9;
}
.button {
  display: inline-block;
  border-radius: 4%;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  background-color: #E8F5EB;
  color: black;
}
.button:hover {
  display: inline-block;
  border-radius: 4%;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  background-color: black;
  color: #E8F5EB;
}

#topBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  padding: 10px;
  font-size: 16px;
  background-color: #E8F5EB;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#topBtn:hover {
  background-color: #E8F5EB;
}

footer {
  display: flex;
  height: 10vh;
  background-color: white;
  align-items: center;
  justify-content: space-around;
}
